.drei-elemente-untereinander{
    display: grid;
    border: 2px solid black;
    gap: 10px;
    padding: 10px;
}
.element{
    text-align: center;
    border: 1px solid mediumpurple;
    padding: 10px;
}

.drei-elemente-nebeneinander{
    display:grid;
    border: 2px solid black;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.zentral{
    display:grid;
    border: 2px solid black;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.zentral .element:nth-child(1){
    grid-column: 2;
}